.App {
  text-align: center;
}

.pageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.addressApi{
  border: 1px solid black;
  font-size: 0.9rem;
  height: 70px;
}

.map-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.mapTitle{
  z-index: 90;
  position: absolute;
  background-color: rgba(33, 37, 41, 0.95);
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
}

.spaceContainerSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.spacesContainer{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 50vh;
  overflow: auto;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;

}

.spaceCardContainer{
  width: 45%;
  margin: 2px;
}

.spaceCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  width: 100%;
}

.spaceCard h3,
.spaceCard h2{
  font-size: 10px;
}

.spaceCard img{
  width: 90%;
  height: 40%;
  border-radius: 10px;
}

.App-header {
  background-color: #444852;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SignupCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.formContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  background-color: #4becb1;
  border-radius: 30px;
}

.btn-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 5px;
  
}

.authContainer{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  padding: 15px;
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;
}

#profileImg{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.containerDiv{
display: flex;
flex-direction: column;
align-content: center;
height: 100vh;
width: 100vw;
}

.userData{
display: flex;
flex-direction: column;
align-content: center;
padding: 10px;
background-color: #e7e7e7;
}

.eventsData{
display: flex;
flex-direction: column;
align-content: center;
padding: 10px;
background-color: #0FF07B;
}

.profile-btns{
  padding: 10px;
  background-color: #e7e7e7;
}

.profile-header{
  padding: 10px;
  background-color: #0FF07B;
}

.buttonTest{
  display: flex;
}

.logoSpace{
  margin: 10px;
  padding-bottom: 10px;
}

.editProfileCard{
  z-index: 30;
}
.navbar{
background-color: rgb(65, 65, 65);
color: white;
}

.spaceButton{
  margin-bottom: 10px;
}
.trashButton{
  margin: 7px;
}